### General
.DS_Store
Thumbs.db

### Node
logs
*.log
npm-debug.log
pids
*.pid
*.seed

node_modules

### Packages
/packages/*/lib

### IDE
*.iml
*.ipr
*.iws
.idea/


### Typescript/Babel
packages/*/lib/
.grunt
.baseDir.ts
.tscache
tmp/*
packages/*/typings/*
!packages/*/typings/custom
